<div class="container-fluid">
  <div id="citi-header">
    <a href="http://www.citigroup.net/" class="logo pull-right" title="Citigroup.net" target="_blank"><img src="./assets/images/citilogo_header.png"></a>
    <div class="app_logo pull-left"><img src="./assets/images/app_name.png"></div>
  </div>
  <div id="main-nav">
    <div class="navbar-inner">
      <ul class="nav pull-right">
        <li>
          <a href="#" class="authentication">
                  <i class="fa fa-lock" aria-hidden="true"></i> Login</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bd">
    <div class="row py-1">
      <div class="col-md-3 order-md-1 pl-0 pr-0 py-3">
        <div class="col-md-12">
          <div id="login">
            <form id="myForm" autocomplete="OFF" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <h2 id="login_text">Please Login</h2>
              <label>User ID</label>
              <input type="text" id="j_username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" formControlName="username" class="login-input">
              <div *ngIf="submitted && f.username.errors">
                <span *ngIf="f.username.errors.required" class="text-danger">Username is required</span>
              </div>
              <label>Password</label>
              <input id="j_password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" class="login-input">
              <div *ngIf="submitted && f.password.errors">
                <span *ngIf="f.password.errors.required" class="text-danger">Password is required</span>
              </div>
              <label style="font-weight:normal;"><input type="checkbox" id="accCheckBox" name="accCheckBox" checked="" style="width:auto;margin-top:0;"> Accept <a href="http://www.citigroup.net/tos/" style="text-decoration:underline;">Terms &amp; Conditions</a></label>
              <input type="submit" value="Sign On" class="btn btn-mini btn-primary mt-3">
              <div class="pwdinfo">
                <div class="Change_Password"><a href="https://onereset.citigroup.net" target="_blank">Forgot Password</a></div>
                <div class="Reset_Password"><a href="http://www.citigroup.net/singlesignon/sso_help.htm" target="_blank">Single Sign On Help</a></div>
              </div>
            </form>
            <div class="clearfix"></div>
          </div>

          <div id="help">
            <h2>What's New?</h2>
          </div>

        </div>
      </div>
      <div class="col-md-9 order-md-2 pl-0 pr-0 py-4">
        <div class="col-md-12">
          <div id="slogan">
            <h1>
              <strong>Citi Know Your Customer (KYC)</strong> The single repository of all KYC data across businesses, sectors
              and regions. Data is maintained at the relationship level and is accessible across the bank.</h1>
          </div>
        </div>
      </div>
    </div>

    <div id="disclaimer" style="font-size:11px;margin-top:15px;color:#848484">
      <p>You are authorized to use this System for approved business purposes only. Use for any other purpose is prohibited.
        All transactional records, reports, email, software and other data generated by or residing upon this System, to
        the extent permitted by local law, are the property of Citigroup Inc. or one of its subsidiaries or their affiliates
        (individually or collectively "Citigroup") and may be used by Citigroup for any purpose authorized and permissible
        in your country of work. Activities on this system are monitored to the extent permitted by law.</p>
    </div>

  </div>

  
</div>